*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
main {
    flex: 1 1 auto;
    background-color: #EFF2F6;
}
.main__container {
    max-width: 610px;
    margin: 0px auto;
    padding: 0px 10px;
}   
.main__item{
    margin: 40px 0;
}
.item__decor {
    height: 140px;
    overflow: hidden;
}

.item__decor img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

.item__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-color: #fff;
}
.item__image {
    margin: -80px auto 18px auto;
    width: 164px;
    height: 164px;
}

.item__image img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: 6px solid #fff;
}
.item__title {
    font-family: 'DM Sans';
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0px;
    margin: 0px 0px 4px 0px;
}
.item__body-content{
    display: flex;
    max-width: 445px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 10px;
}
.item__subtitle {
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #5C6779;
}

.item__media {
    display: flex;
    margin: 12px 0px 30px 0px;
}
.item__media >*:not(:last-child){
    margin: 0px 9.22px 0px 0px;
}
.media-link {
    height: 31.6px;
    width: 31.6px;
}

.media-link:hover{
    transform: scale(1.3);
    transition: all 0.7s ease 0s;
}
.media-link img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item__information {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    display: inline-block;
    margin: 0px 0px 54px 0px;
}

.item__information >*:not(:last-child) {
    margin: 0px 0px 20px 0px;
}
.information-link {
    padding: 0px 10px 0px 25px;
    display: flex;
    background-color: #FFFFFF;
    min-height: 68px;
    border-radius: 75px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1.8705730438232422px 7.482292175292969px 0px #3030320F;
}
.information-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.information-content >*:not(:last-child){
    margin: 0px 12px 0px 0px;
}

.information-image {
    width: 21px;
    height: 28px;
}
.information-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.information-about {
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    color: #030B1A;
}
.information-decor {
    width: 48.63px;
    height: 48.63px;
    border-radius: 50%;
    background-color: #EFF2F6;
    position: relative;
}
.information-decor img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.information-link:hover {
    background-color: #030B1A;
    transition: all 0.5s ease 0s;
}

.information-link:hover .information-about{
    color: #FFFFFF;
    transition: all 0.5s ease 0s;
}

.information-link:hover .information-decor img{
    transform: rotate(45deg);
    transition: all 0.7s ease 0s;
}

@media (max-width:620px){
    .information-link {
        padding-left: calc(15px + (25 - 20) * ((100vw - 320px)/(620 - 320)));
    }
}